ENVIRONMENT=
JWT_SECRET=unique_string
JWT_EXPIRES_IN=3600
RATE_LIMIT=
CACHE_URL=
LOG_LEVEL=
API_BASE_URL=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql+psycopg2://DB_USER:DB_PASS@URL/DB_NAME
SENTRY_DSN=https://value